{% extends 'base.html.twig' %}

{% block title %}Bookmark List{% endblock %}

{% block pageheader %}
    <h1>Bookmark List</h1>
    <p class="count">
        Displaying {{ bookmarks|length }} bookmarks of {{ bookmarks.getTotalItemCount }} total.
    </p>
 {% endblock %} 

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
            <a href="{{ path('bookmark_new') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> New
            </a>
            {% endif %}

            <a href="{{ path('bookmark_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>

    {% embed 'bookmark/partial/table.html.twig' %}
    {% endembed %}

    <div class="navigation">
        {{ knp_pagination_render(bookmarks) }}
    </div>

{% endblock %}
